<!-- <div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="leaveRequestForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Class Name</mat-label>
            <mat-select formControlName="class" required>
              <mat-option [value]="'R305 A'">
                R305 A
              </mat-option>
              <mat-option [value]="'R452 B'">
                R452 B
              </mat-option>
              <mat-option [value]="'R201 C'">
                R201 C
              </mat-option>
              <mat-option [value]="'R103 F'">
                R103 F
              </mat-option>
              <mat-option [value]="'R503 F'">
                R503 F
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leaveRequestForm.get('class').hasError('required')">
              Select Any Subject
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Section Name</mat-label>
            <input matInput formControlName="section" required>
            <mat-error *ngIf="leaveRequestForm.get('section').hasError('required')">
              Section name required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apply date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="applyDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="leaveRequestForm.get('applyDate').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>From date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fromDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="leaveRequestForm.get('fromDate').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="toDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <mat-error *ngIf="leaveRequestForm.get('toDate').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Reason</mat-label>
            <textarea matInput formControlName="reason"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!leaveRequestForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="font-weight-bold p-t-5 font-17">
              <h2> {{data.leaveRequest.sName}} </h2>
             
          </div>            
      </div>
  </div>
  <div mat-dialog-content>
      <div class="row">
          <div class="card">
              <div class="header">
                  <h2>Resultado del test, realizado en {{data.chart.timeElapsed}} min.</h2>
              </div>
              <div class="body">
                  <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
                    [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
                    [yaxis]="barChartOptions.yaxis" [xaxis]="barChartOptions.xaxis" [fill]="barChartOptions.fill"></apx-chart>
                </div>                  
          </div>
      </div>
      
  </div>
  <div class="font-weight-bold p-t-5 font-17" >
    <div class="card" >
      <h4>Personalidad: {{data.chart.personality}}</h4>
    </div>
     
    </div>
    <div class="card" >
      <h4>Descripción:</h4>
      <div style="text-align: justify;">{{data.chart.personalityDescription}}</div>
    </div>
      
    <div class="card" >
      <h4>Vocaciones:</h4>
      <div class="columns">
        <a style="cursor: pointer;" *ngFor=" let voc of vocacionesList" >
          <a (click)="showVoc(voc)" >
            {{voc}} ,
          </a>
          
        </a>
      </div>
      
      

    </div>
    <!-- <div class="font-weight-bold p-t-5 font-17" style="overflow-y: scroll; height: auto;">
      
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">            
            <div class="body table-responsive" >
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Vocaciones</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let voc of vocacionesList">
                    <td></td>
                    <td> {{voc}} </td>
                    <td> <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="showVoc(voc)">
                      <mat-icon aria-label="Edit" class="col-white">remove_red_eye</mat-icon>
                    </button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>